*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
    background: linear-gradient(to right, #a4c2ea, #3a5462, #ff7e5f);
    color: white;
    padding: 20px;
    font-family: comic sans ms, sans-serif;
}

footer{
    text-align: center;
    background: linear-gradient(to right, #a4c2ea, #3a5462, #ff7e5f);
    color: white;
    padding: 30px;
    font-family:Arial, Helvetica, sans-serif sans-serif;
    margin-top: 59px;
    
}

.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2%;
    min-height: 70vh;
    gap: 20px;
}

.photo{
    
    text-align: center;
    border-radius: 12px;
    background-color: rgb(201, 218, 237);
    padding: 1em;
    border: 1px solid black;
    height: 430px;
    font-family: Arial Rounded MT, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #232222;
    width: 300px;
}
.photo img{
    width: 200px;
    height: 200px;
    border-radius: 50%;    
    object-fit: cover;   
}

.photo img:hover{
   transform: scale(1.1);
   border-color: #ff7e5f;
   cursor: pointer;
}

.photo:hover{
    text-decoration: underline;
    color: #d93c15;
}